@import url(./font.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: gray;
}
.container{
    max-width: 1110px;
    margin: 0 auto 0 auto;
    width: 100%;
    height: 100%;
}
.header__nav-logo{
    margin-bottom: 80px;
}

.header{
    padding-top: 50px;
}
.header__nav-ul{
    display: flex; 
    justify-content: center;  
    gap: 30px;
    align-items: center;
    max-width: 812px;
    width: 100%;
}
.header__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__img{
    width: 100%;
    height: 100%;
}

.desc__why{
    max-width: 730px;
    max-height: 500px;
    height: 100%;
    width: 100%;
    background: #F0F0F0;
    padding: 50px 96px 50px 40px;
}

.desc__why-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    font-family: 'Roboto-Regular';
}
.desc__why-title{
    font-size: 20px;
    color: #4581B7;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 25px;
    font-family: 'Roboto-Bold';
}

.banner{
    margin: 30px auto 30px auto;
}

.desc__wrap{
    display: flex;
    justify-content: space-between;
}

.desc__contact{
    background: #F0F0F0;
    padding: 50px 24px 160px 40px;
    max-width: 350px;
    width: 100%;
}

.desc__contact__title{
    font-size: 20px;
    color: #4581B7;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 25px;
    font-family: 'Roboto-Bold';
}

.desc__contact__list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 244px;
    height: 100%;
    gap: 10px;
}

.footer__wrap{
    background: #F0F0F0;
    display: flex;
    padding: 15px 40px 15px 40px;
    justify-content: space-between;
}

.footer__list{
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.footer__list-item-info{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    font-family: 'Roboto-Regular';
}

.footer__list-item-number-link{
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    font-family: 'Roboto-Regular';
}

.footer{
    margin-top: 30px;
}
